<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog | Pe@rl corporation</title>
    <link rel="stylesheet" href="/stylesheets/wp-backgrounds.css" type='text/css' media='all' />
    <link rel='stylesheet' href="/stylesheets/mjCont.css" type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/front.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
    <link id="twentytwelve-fonts-css" media="all" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext" rel="stylesheet">
    <script type='text/javascript' src='/js/jquery.js'></script>
    <script type='text/javascript' src='/js/wp-backgrounds.js'></script>
    <script type='text/javascript' src="/js/main.js"></script>
</head>

<body class="custom-font-enabled">

    <div id="page" class="hfeed site">
        <header id="masthead" class="site-header" role="banner">

        </header>
        <div class="textwidget margin-top-30">
            <p>
                <h1>Welome to Muthubharathi's blog </h1></p>
        </div>

        <div class="widget">
            <div>
                <h1>New User</h1>
            </div>
            {{{body}}}
        </div>
        <footer id=colophon role="contentinfo">
            <div>
                <p>&copy Copyrighted to pe@rl Inc</p>
            </div>
        </footer>
    </div>
</body>

</html>